@import "react-alice-carousel/lib/alice-carousel.css";
@import "@fontsource/montserrat"; 

body {
  margin: 0;
  background-color: #376e6f;
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: white;
  padding-bottom: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  padding-bottom: 90px;
  padding-top: 115px;
  margin: 0px 70px;
}

.genres {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.pageTitle2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: white;
}

.searchBar {
  display: flex;
  margin: 0 2px;
  align-items: center;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 844px) {
  .main {
    margin: 0px;
    padding-top: 90px;
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 80px;
  }
  .pageTitle,
  .pageTitle2 {
    font-size: 25px;
  }
}

